<%- include('includes/head') %>
  <!--Recebe o cabeçalho  de outro arquivo (/includes/head)-->

  <%- include('includes/nav') %>
    <!--Recebe a barra de navegação de outro arquivo(/includes/nav)-->

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <!--borda da Página -->

        <div class="col-lg-8 my-3">
          <h1 class=" text-center">
            Portal do Professor
          </h1>
          <p class="text-center lead">
            Ver eventos,tarefas,faltas e notas
          </p>
          <%- include('includes/messages')%>

            <div>
              <p>
                <b>Notas dos alunos</b>
              </p>

              <form action="/professor/alunos" method="POST">

                <input type="hidden" name="_csrf" value=<%=csrfToken%>>

                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class=" form-control" name="email">
                </div>

                <div class="form-group">
                  <label>portugues</label>
                  <input type="number" class="form-control" name="portugues">
                </div>

                <div class="form-group">
                  <label>matematica</label>
                  <input type="number" class="form-control" name="matematica">
                </div>

                <div class="form-group">
                  <label>biologia</label>
                  <input type="number" class="form-control" name="biologia">
                </div>

                <div class="form-group">
                  <label>fisica</label>
                  <input type="number" class="form-control" name="fisica">
                </div>

                <div class="form-group">
                  <label>quimica</label>
                  <input type="number" class="form-control" name="quimica">
                </div>

                <div class="form-group">
                  <label>artes</label>
                  <input type="number" class="form-control" name="artes">
                </div>

                <div class="form-group">
                  <label>edfisica</label>
                  <input type="number" class="form-control" name="edfisica">
                </div>

                <div class="form-group">
                  <label>ingles</label>
                  <input type="number" class="form-control" name="ingles">
                </div>

                <div class="form-group">
                  <label>filosofia</label>
                  <input type="number" class="form-control" name="filosofia">
                </div>

                <div class="form-group">
                  <label>geografia</label>
                  <input type="number" class="form-control" name="geografia">
                </div>

                <div class="form-group">
                  <label>historia</label>
                  <input type="number" class="form-control" name="historia">
                </div>

                <div class="form-group">
                  <label>sociologia</label>
                  <input type="number" class="form-control" name="sociologia">
                </div>

                <br>
                <button type="submit" class="btn btn-primary">Salvar</button>
              </form>

            </div>

        </div>
        <!--Fim do Conteúdo-->

        <div class="col-lg-2"></div>
        <!--borda da Página -->

      </div>
    </div>

    <%- include('includes/footer') %>