<%- include('./includes/head') %>
  <!--Recebe o cabeçalho  de outro arquivo (/includes/head)-->

  <%- include('./includes/nav.ejs') %>
    <!--Recebe a barra de navegação de outro arquivo(/includes/nav)-->

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <!--borda da Página -->

        <div class="col-lg-8 my-3">
          <h1 class=" text-center">
            Alunos
          </h1>

          <p class="text-center lead">
            Lista de Vendas/Serviços abaixo:
          </p>

          <%- include('includes/messages') %>
            <% if(registros.length> 0 ) { %>
              <div class="resposive-table">
                <table class="table my-3">
                  <tr>
                    <th>
                      Nome
                    </th>
                    <th>
                      Valor
                    </th>
                    <th>
                      Description
                    </th>
                    <th>
                      Data
                    </th>
                    <th></th>
                    <th></th>
                  </tr>

                  <% registros.forEach(venda=> {%>

                    <tr>
                      <td>
                        <%= venda.nome %>
                      </td>
                      <td>
                        <%= venda.valor %>
                      </td>
                      <td>
                        <%= venda.description %>
                      </td>
                      <td>
                        <%= venda.diaVenda %>
                      </td>
                      <td>
                        <a href="/editarvenda/<%= venda._id%>">Editar</a>
                      </td>
                      <td>
                        <a class="text-danger" href="/deletarVenda/<%= venda._id%>">Excluir</a>
                      </td>
                    </tr>

                    <% })%>

                </table>
              </div>
              <% } else {%>
                <p class="text-center lead">Não existem contatos na sua agenda</p>
                <%}%>
        </div>
        <!--Fim do Conteúdo-->

        <div class="col-lg-2"></div>
        <!--borda da Página -->

      </div>
    </div>

    <%- include('includes/footer') %>